 html {
     font-size: 10px;
     font-family: 'STIX Two Text', serif;
     background-color: #BD0808;
     color: whitesmoke;
 }

 body {
     width: 800px;
     margin: 0 auto;
     background-color: black;
     padding: 0 20px 20px 20px;
     border: 5px solid whitesmoke;
 }

 h1 {
     margin: 0;
     padding: 20px 0;
     font-size: 100px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     text-shadow: 3px 3px 1px gray;
 }

 h2 {
     font-family: 'Oswald', sans-serif;
     text-align: center;
     font-size: 32px;
 }

 #cit {
     font-size: 22px;
     text-align: center;
     letter-spacing: 0px;
 }

 p, li {
     font-size: 16px;
     line-height: 2;
     letter-spacing: 1px;
 }

 img {
     display: block;
     margin: 0 auto;
 }